<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>My-List</h1>
        </div>
    </div>

    <div class="panel-body">
        <ul class="task">
            <li *ngFor="let task of list" class="list-group-item" [class.selected]="task === selectedTask" (click)="onSelect(task)">
                <span>
                <input type="checkbox" class="checked" [checked]="task.status">{{task.name}}
                </span>
                <button class="btn btn-info btn" title="editTodo" (click)="canEdit()">Edit</button>
                <button title="deleteTodo" class="btn btn-warning" (click)=" deleteTodos(task)">delete</button>&nbsp;&nbsp;

            </li>
        </ul>
        <div *ngIf="selectedTask && editable">
            <div class="update">
                <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
                    <label>name:</label>
                    <div class="edit">
                        <input class="form-control" type="text" placeholder="User name" required minlength="4" required maxlength="25" [(ngModel)]="selectedTask.name" name="name" #pickedName="ngModel">
                        <div *ngIf="!pickedName.valid && pickedName.touched">
                            User name is required!
                        </div>
                        <div class="register">
                            <button class="btn btn-success" title="submit" [disabled]="todoForm.form.invalid" (click)="clearTodos(todo)">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>