<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>My-Form</h1>
        </div>
    </div>
    <div class="todoform">
        <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
            <span>Name</span>
            <input type="text" class="form-control" placeholder="User name" required minlength="4" required maxlength="25" [(ngModel)]="todoForm.name" name="name" #pickedName="ngModel">
            <div *ngIf="!pickedName.valid && pickedName.touched">
                User name is required!
            </div>
            <div class="register">
                <button type="submit" class="btn btn-success" [disabled]="todoForm.form.invalid">Submit</button>
            </div>
        </form>
    </div>

</div>