<div class="container" *ngIf="allTask && allTask.length">
    <div class="heading">
        <h4>Todo-Status</h4>
    </div>
    <div class="panel-body">
        <div>
            <h5>All Task
                <span class="alltask">
            <td>{{allTask.length}}</td>
            </span>
            </h5>
        </div>
        <div>
            <h5>Completed Task
                <span class="alltask">
            <td>{{taskCompleted}}</td>
            </span>
            </h5>
        </div>
        <div>
            <h5>Remaining
                <span class="alltask">
             <td>{{allTask.length - taskCompleted}}</td>
             </span>
            </h5>
        </div>
    </div>
</div>